<div class="col-md-4 sidebar-gutter">
  <aside>
    <div class="sidebar-widget">
      <a href="{{ path('author_page') }}">
        <h3 class="sidebar-title">About Me</h3>
        <div class="widget-container widget-about">
          <img src="{{ image_domain }}design/author.jpg" alt="Sameera Sood">
          <h4>Sameera Sood</h4>
          <div class="author-title">Writer</div>
          <p>'Mom Says That' was created on a lazy winter evening.The blog is about bits and pieces that make me.</p>
        </div>
     </a>
    </div>
    {{ render(controller('top.posts:indexAction')) }}
    <div class="sidebar-widget">
      <h3 class="sidebar-title">Socials</h3>
      <div class="widget-container">
        <div class="widget-socials">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-reddit"></i></a>
        </div>
      </div>
    </div>
  </aside>
</div>
