{% extends 'FrontendBundle::base.html.twig' %}
{% block container %}
    <div class="col-md-8">
        <article class="blog-post">
            <div class="blog-post-body">
                <h2>About Author</h2>
                <div class="blog-post-text">
                    <h3 class='post-title entry-title' itemprop='name'>
                    About Mom Says That
                    </h3>
                    <p>'Mom Says That' was created on a lazy winter evening.The blog is about bits and pieces that make me.</p></br>
                    <b>About Me -&nbsp;</b><br />
                    <br />
                    I relocated to London after getting married in 2013.<br />
                    <br />
                    I was born and raised in India.<br />
                    <br />
                    I love writing. I am also a professional IT writer.<br />
                    <br />
                    I have recently discovered my love for swimming and traveling, in that particular order.<br />
                    <br />
                    I enjoy cooking. Although, I cannot cook exotic dishes. I prefer making easy, tasty, and healthy meals.<br />
                    <br />
                    I am a big movie buff, and a die hard DISNEY lover.<br />
                    <br />
                    I do not like to initiate conversations, which is often misinterpreted as ego.<br />
                    <br />
                    I am a Shahid Kapoor fan, ever since Ishq Vishq happened.<br />
                    <br />
                    I find it hard to let go people in my life.<br />
                    <br />
                    I have a huge candle fetish. Buy me a candle or a candle stand, whenever in doubt.<br />
                    <br />
                    I cannot live without a job. I love working.<br />
                    <br />
                    I prefer doing work myself, instead of seeking help.<br />
                    <br />
                    I hate to ask favors.<br />
                </div>
            </div>
        </article>
    </div>
{% endblock %}
